/.env
/vendor/
/node_modules/
/public/build/
/public/uploads/*
!/public/uploads/.gitkeep
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
.phpunit.result.cache
.DS_Store
Thumbs.db
